<% content_for :title, "About" %>
<%= render layout: "shared/backgrounds" do %>
<h1 class="text-center">About Poliana</h1>
<% end %>
<div class="row hero">
	<div class="large-12 columns">
		<p class="lead">With so many people involved in every decision, understanding why our government makes certain choices is difficult. Politicians, corporations, lobbyists, and PACs are all related, but knowing how they affect each other is hidden in a maze of paperwork and legal language. Poliana untangles this web of complicated relationships and visualizes what individuals and groups are having the greatest impact on the political process.</p>
	</div>
</div>
<div class="row hero data-partners">
	<div class="large-12 columns">
		<h2 class="text-center">Where's the data come from?</h2>
	</div>
	<div class="large-3 medium-3 columns">
		<a href="http://www.opensecrets.org/" target="_blank"><img src="/assets/open-secrets.png"></a>
	</div>
	<div class="large-3 medium-3 columns">
		<a href="http://sunlightfoundation.com/" target="_blank"><img src="/assets/sunlight-foundation.png"></a>
	</div>
	<div class="large-3 medium-3 columns">
		<a href="http://congress.gov" target="_blank"><img src="/assets/congress-gov.png"></a>
	</div>
	<div class="large-3 medium-3 columns">
		<a href="https://www.govtrack.us/" target="_blank"><img src="/assets/govtrack.png"></a>
	</div>
</div>