<% content_for :title, "Contact Us" %>
<div class="row hero">
	<div class="large-12 columns">
		<h1>Want to know more about Poliana?</h1>
		<p class="largerParagraph">Awesome, what best best describes you...</p>
	</div>
</div>
<div class="row">
	<div class="large-4 small-10 small-centered large-uncentered columns">
		<%= link_to "I want to know more.", "mailto:shawn@poliana.com", :class => "button expand large radius" %>
	</div>
	<div class="large-4 small-10 small-centered large-uncentered columns">
		<%= link_to "I'm a bit of a nerd.", "mailto:david@poliana.com", :class => "button expand large radius" %>
	</div>
	<div class="large-4 small-10 small-centered large-uncentered columns">
		<%= link_to "I want to invest.", "mailto:grayson@poliana.com", :class => "button expand large radius" %>
	</div>
</div>