<div class="row">
	<div class="large-12 columns">
		<h1 class="hero">Got questions?</h1>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h3>Here's a sample question!</h3>
		<p>Here's an answer! Locavore Carles photo booth flexitarian selfies. Tote bag brunch selvage, Tonx selfies gluten-free lo-fi put a bird on it locavore fixie whatever mumblecore mustache Schlitz. PBR&B VHS beard, bespoke literally next level Tonx American Apparel mustache Helvetica selfies biodiesel shabby chic. 90's pork belly kogi PBR photo booth. Kogi flannel Pitchfork mlkshk, brunch Cosby sweater Vice. Leggings American Apparel McSweeney's, Helvetica seitan slow-carb VHS. Whatever umami 90's, bitters shabby chic keffiyeh irony twee ugh.</p><p>Banjo viral Pitchfork roof party authentic kale chips. Ethnic wolf pop-up keffiyeh, gluten-free 8-bit VHS. Artisan brunch iPhone chia sartorial. Distillery put a bird on it bitters skateboard American Apparel quinoa blog before they sold out raw denim, kogi food truck 8-bit Godard wayfarers. Gentrify Godard try-hard, XOXO fashion axe tousled fap bitters letterpress you probably haven't heard of them umami shabby chic iPhone literally. Odd Future shabby chic ethnic, 3 wolf moon cornhole meggings master cleanse dreamcatcher artisan. Lomo banh mi tote bag, literally direct trade artisan vinyl bitters authentic YOLO brunch Marfa.</p>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h3>Here's a sample question!</h3>
		<p>Here's an answer! Locavore Carles photo booth flexitarian selfies. Tote bag brunch selvage, Tonx selfies gluten-free lo-fi put a bird on it locavore fixie whatever mumblecore mustache Schlitz. PBR&B VHS beard, bespoke literally next level Tonx American Apparel mustache Helvetica selfies biodiesel shabby chic. 90's pork belly kogi PBR photo booth. Kogi flannel Pitchfork mlkshk, brunch Cosby sweater Vice. Leggings American Apparel McSweeney's, Helvetica seitan slow-carb VHS. Whatever umami 90's, bitters shabby chic keffiyeh irony twee ugh.</p><p>Banjo viral Pitchfork roof party authentic kale chips. Ethnic wolf pop-up keffiyeh, gluten-free 8-bit VHS. Artisan brunch iPhone chia sartorial. Distillery put a bird on it bitters skateboard American Apparel quinoa blog before they sold out raw denim, kogi food truck 8-bit Godard wayfarers. Gentrify Godard try-hard, XOXO fashion axe tousled fap bitters letterpress you probably haven't heard of them umami shabby chic iPhone literally. Odd Future shabby chic ethnic, 3 wolf moon cornhole meggings master cleanse dreamcatcher artisan. Lomo banh mi tote bag, literally direct trade artisan vinyl bitters authentic YOLO brunch Marfa.</p>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h3>Here's a sample question!</h3>
		<p>Here's an answer! Locavore Carles photo booth flexitarian selfies. Tote bag brunch selvage, Tonx selfies gluten-free lo-fi put a bird on it locavore fixie whatever mumblecore mustache Schlitz. PBR&B VHS beard, bespoke literally next level Tonx American Apparel mustache Helvetica selfies biodiesel shabby chic. 90's pork belly kogi PBR photo booth. Kogi flannel Pitchfork mlkshk, brunch Cosby sweater Vice. Leggings American Apparel McSweeney's, Helvetica seitan slow-carb VHS. Whatever umami 90's, bitters shabby chic keffiyeh irony twee ugh.</p><p>Banjo viral Pitchfork roof party authentic kale chips. Ethnic wolf pop-up keffiyeh, gluten-free 8-bit VHS. Artisan brunch iPhone chia sartorial. Distillery put a bird on it bitters skateboard American Apparel quinoa blog before they sold out raw denim, kogi food truck 8-bit Godard wayfarers. Gentrify Godard try-hard, XOXO fashion axe tousled fap bitters letterpress you probably haven't heard of them umami shabby chic iPhone literally. Odd Future shabby chic ethnic, 3 wolf moon cornhole meggings master cleanse dreamcatcher artisan. Lomo banh mi tote bag, literally direct trade artisan vinyl bitters authentic YOLO brunch Marfa.</p>
	</div>
</div>
<div class="row hero">
	<div class="large-12 columns">
		<h2>Have more questions?</h2>
		<p>You're a picky one! That's okay, <%= link_to "go here", contact_path %>.</p>
	</div>
</div>