<div class="fullRow homeWideBlurred">
	<div class="row">
		<div class="large-12 columns">
			<h1>Welcome to Poliana!</h1>
			<p>We're using <em>data visualization</em> to drive political transparency</p>
			
		</div>
	</div>
</div>