<div class="page-specific"></div>
<%= render layout: "shared/backgrounds", locals: { classes: 'expanded single' } do %>
<h1 class="text-center">We put politics on display.</h1>
<div class="text-center play-video">
	<%= link_to '<span aria-hidden="true" class="icon-play large-icon text-pop"></span>'.html_safe(), 'https://vimeo.com/82250634', :target => '_blank' %>
	<div class="vimeo-player flex-video vimeo widescreen hide">
		<iframe src="//player.vimeo.com/video/82250634?title=0&amp;byline=0&amp;portrait=0&amp;color=61d2d6&amp;autoplay=0&amp;" width="888" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>
<% end %>
<div class="row hero">
	<div class="large-12 columns">
		<h2 class="text-center">Our mission is to visualize political influence</h2>
	</div>
</div>
<div class="row hero">
	<div class="large-2 medium-2 columns hide-for-small">
		<span aria-hidden="true" class="icon-drawer large-icon"></span>
	</div>
	<div class="large-10 medium-10 columns">
		<h3>Just the facts</h3>
		<p>We bring together millions of data points on the political system: voting records, financial contributions, lobbyist spending, bill sponsorships, industry influence, and more.</p>
	</div>
</div>
<div class="row hero">
	<div class="large-2 medium-2 columns hide-for-small">
		<span aria-hidden="true" class="icon-stats large-icon"></span>
	</div>
	<div class="large-10 medium-10 columns">
		<h3>Gain a deeper understanding</h3>
		<p>We help you find the politicians that are having the greatest impact on the issues you care about. You can browse the big picture or dive directly into the records for a something specific.</p>
	</div>
</div>
<div class="row hero">
	<div class="large-2 medium-2 columns hide-for-small">
		<span aria-hidden="true" class="icon-bullhorn large-icon"></span>
	</div>
	<div class="large-10 medium-10 columns">
		<h3>Share with your friends</h3>
		<p>Easily share the most interesting things you find on the site to your social media. Spread the word to your friends and spark lively discussions.</p>
	</div>
</div>
<div class="row hero">
	<div class="large-12 columns">
		<h4 class="text-center"><%= link_to "Still got questions?", about_path %></h4>
	</div>
</div>