<div class="page-specific"></div>
<%= render layout: "shared/backgrounds", locals: { classes: 'expanded single' } do %>
<h1 class="text-center">We put politics on display.</h1>
<div class="text-center play-video">
	<%= link_to '<span aria-hidden="true" class="icon-play large-icon text-pop"></span>'.html_safe(), 'https://vimeo.com/82250634', :target => '_blank' %>
	<div class="vimeo-player flex-video vimeo widescreen hide">
		<iframe src="//player.vimeo.com/video/82250634?title=0&amp;byline=0&amp;portrait=0&amp;color=61d2d6&amp;autoplay=0&amp;" width="888" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>
<% end %>
<div class="row hero">
	<div class="large-12 columns">
		<h2 class="text-center">Our mission is to simplify the political system</h2>
	</div>
</div>
<div class="row hero">
	<div class="large-2 medium-2 columns hide-for-small">
		<span aria-hidden="true" class="icon-drawer large-icon"></span>
	</div>
	<div class="large-10 medium-10 columns">
		<h3>Just the facts</h3>
		<p>We aggregate millions of data points on a wide range of government activity. Voting records, financial contributions, lobbying, bills, and industry influence are just some examples of what’s available.</p>
	</div>
</div>
<div class="row hero">
	<div class="large-2 medium-2 columns hide-for-small">
		<span aria-hidden="true" class="icon-stats large-icon"></span>
	</div>
	<div class="large-10 medium-10 columns">
		<h3>Gain a deeper understanding</h3>
		<p>Once you’ve identified a representative, bill, or company you want to look into, we provide user friendly tools for browsing and digging deeply into the data available on that entity.</p>
	</div>
</div>
<div class="row hero">
	<div class="large-2 medium-2 columns hide-for-small">
		<span aria-hidden="true" class="icon-bullhorn large-icon"></span>
	</div>
	<div class="large-10 medium-10 columns">
		<h3>Share with your friends</h3>
		<p>Easily share the most interesting things you find while browsing the site to your social media. Our data-based insights are sure to spark lively discussions.</p>
	</div>
</div>
<div class="row hero">
	<div class="large-12 columns">
		<h4 class="text-center"><%= link_to "Still got questions?", about_path %></h4>
	</div>
</div>