<% content_for :title, "Mission" %>
<div class="fullRow missionWideBlurred">
	<div class="absoluteHero">
		<h1>We're on a mission...</h1>
		<p class="largerParagraph">Our government is meant to be representative of the people, not of special interest.</p>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<p>Government is a complicated process, but we’re on a mission to simplify politics. With so many people involved in every decision, understanding the major factors that play into how government makes choices is difficult.  Bills, politicians, and industries are all related, but knowing how they affect each other currently requires dedicated time and effort. This leads to more and more people having trouble staying informed and feeling included in the political process - this is where our work begins.</p><p>Poliana believes that understanding government must be straight-forward. By providing more evidence-based insights and allowing you to easily and visually explore the information you’re most interested in, we keep you in the know. We encourage you to share the knowledge you gain and help raise the bar of political awareness. Poliana makes it a personal goal to let the data speak for itself and allow you to draw the conclusions.</p>
	</div>
</div>