<% content_for :title, "Politician" %>
<div class="page-specific" data-controller="graph_explorer"></div>
<div class="page-specific" data-controller="politicians"></div>
<div class="row">
	<div class="large-12 columns">
		<h1>Politician</h1>
	</div>
</div>