<% content_for :title, "Politician" %>
<div class="page-specific" data-controller="graph_explorer"></div>
<div class="page-specific" data-controller="politicians"></div>
<div class="row">
	<div class="large-3 medium-3 columns">
		<img src="" alt="FULL NAME">
	</div>
	<div class="large-9 medium-9 columns">
		<h1>FULL NAME</h1>
		<h4>ROLE</h4>
		<div class="row">
			<div class="large-4 medium-4 columns">
				BIRTHDAY
			</div>
			<div class="large-4 medium-4 columns">
				GENDER
			</div>
			<div class="large-4 medium-4 columns">
				RELIGION
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div id="timeline"></div>
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<div id="pacs"></div>
	</div>
	<div class="large-6 columns">
		<div id="industries"></div>
	</div>
</div>