*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

.DS_Store
codekit-config.json
*.swp
*.sw*
/lib/congress_scraper.rb
/config/rubber/rubber-secret.yml
# Ignore application configuration
/config/application.yml
/config/database.yml

/solr/data
/solr/pids

/lib/assets/legislators.json

.idea/