<% content_for :title, "Bills" %>
<div class="row extraPad">
	<div class="large-12 columns">
		<h1 class="aligncenter">Bills</h1>
		<p class="aligncenter">A bill can be any kind of legislation moving through Congress. We also have historical data.</p>
	</div>
</div>