<div class="row">
	<div class="large-2 push-10 columns">
		<ul class="social">
			<li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.poliana.com" target="_blank"><span aria-hidden="true" class="icon-facebook"></span></a></li>
			<li><a href="https://twitter.com/share?url=https%3A%2F%2Fwww.poliana.com" target="_blank"><span aria-hidden="true" class="icon-twitter"></span></a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="large-12 columns large-centered">
		<h1 class="aligncenter">Poliana Data Demo</h1>
		<div id="billIndustry">

		</div>
	</div>
</div>



<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js" %>