<div class="row">
	<div class="large-2 push-10 columns">
		<ul class="social inline-list">
			<li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.poliana.com%2Fdemo" target="_blank"><span aria-hidden="true" class="icon-facebook"></span></a></li>
			<li><a href="https://twitter.com/share?url=https%3A%2F%2Fwww.poliana.com%2Fdemo" target="_blank"><span aria-hidden="true" class="icon-twitter"></span></a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="large-12 columns large-centered">
		<h1 class="aligncenter">Poliana Data Demo</h1>
		<div class="large-4 columns large-centered selectorHolder">
			<form class="custom">
				<select id="billSelector" class="large">
					<option disabled selected>Select a bill...</option>
				    <% @bills.each do |f| %>
						<option value="<%= f.id %>"><%= f.title %></option>
					<% end %>
			  	</select>
			</form>
		</div>
		<div id="billIndustry"></div>
	</div>
</div>