<div class="row">
	<div class="large-2 push-10 columns">
		<ul class="social inline-list" id="joyride-8">
			<li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.poliana.com%2Fdemo" target="_blank"><span aria-hidden="true" class="icon-facebook"></span></a></li>
			<li><a href="https://twitter.com/share?url=https%3A%2F%2Fwww.poliana.com%2Fdemo" target="_blank"><span aria-hidden="true" class="icon-twitter"></span></a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="large-12 columns large-centered">
		<h1 class="aligncenter" id="demoTitle">Poliana Data Demo</h1>
		<div class="large-6 small-10 columns large-centered small-centered selectorHolder">
			<form id="joyride-2" class="custom">
				<select id="billSelector" class="large">
					<option disabled selected>Select a bill...</option>
				    <% @bills.each do |f| %>
						<option value="<%= f.id %>"><%= f.title %></option>
					<% end %>
			  	</select>
			</form>
		</div>
		<div id="billIndustry"></div>
	</div>
</div>
<ol class="joyride-list" data-joyride>
	<li data-text="Let's get started...">
		<h3>Welcome friend!</h3>
		<p>Poliana is a web application trying to better explain money's influence in legislation by using the powers of interactive data visualization. Here's a demo we've created to establish our idea; we hope you like it!</p>
	</li>
	<li data-id="joyride-2" data-text="Show me the money..." data-options="tipLocation:bottom;">
		<h3>First you'll need to select a bill</h3>
		<p>We've given you two bills to check out, pick one of them!</p>
	</li>
	<li data-id="joyride-3" data-text="Alright, got it...">
		<h3>Here can view information on a bill</h3>
		<p>We can look at the Congressional sponsor for the piece of legislation, the result of that legislation as it went through Congress, and a brief summary of the bill's contents.</p>
	</li>
	<li data-id="joyride-4" data-text="Awesome, what else...">
		<h3>This graph looks at industry influence</h3>
		<p>While on the actual site you'll see a plethora of different graphs related to legislation, politicians, and industries, we decided that for the demo we would show you just one of those graphs. This particular graph shows the influence of ten industries on a given bill.</p>
	</li>
	<li data-id="joyride-5" data-text="Roger that, what's next...">
		<h3>We divide by which side won</h3>
		<p>Was the motion passed? Was it shot down? Here we see two graphs divided in the middle by "Yea" votes and "Nay" votes, with each side showing the most influential industries.</p>
	</li>
	<li data-id="joyride-6" data-text="Bingo, moving on..." data-options="tipLocation:bottom;">
		<h3>Remember we said they were interactive?</h3>
		<p>Yea baby, click on any of the colored bars!</p>
	</li>
	<li data-id="joyride-7" data-text="Righteous, this is awesome...">
		<h3>Nice, let's get back a level</h3>
		<p>Remember you have a breadcrumb menu for interaction. No matter how deep you travel in the interaction, you always know where you are!</p>
	</li>
	<li data-text="Rock on...">
		<h3>Congrats, you got the skills!</h3>
		<p>Hey, like what you've seen? We think this is kind of technology lends to a far greater understanding of government. If you agree, pass it on by sharing the love to your friends in the top-right corner of this page!<br><br>&lt;3,<br><i>The Poliana Team</i></p>
	</li>
</ol>