<% content_for :entity_type, "bills" %>
<% content_for :title, "Bills" %>
<div id="bill">
	<div class="row entityInfo">
		<div class="large-3 small-8 small-centered large-uncentered columns">
			<span aria-hidden="true" class="icon-file extraLargeIcon"></span>
		</div>
		<div class="large-9 columns">
			<h1>H.R.3261 - Stop Online Piracy Act</h1>
			<p>Stop Online Piracy Act - Authorizes the Attorney General (AG) to seek a court order against a U.S.-directed foreign Internet site committing or facilitating online piracy to require the owner, operator, or domain name registrant, or the site or domain name itself if such persons are unable to be found, to cease and desist further activities constituting specified intellectual property offenses under the federal criminal code including criminal copyright infringement, unauthorized fixation and trafficking of sound recordings or videos of live musical performances, the recording of exhibited motion pictures, or trafficking in counterfeit labels, goods, or services.</p>
			<p class="alignright readMore"><a href="#">Read Full Text &raquo;</a></p>
		</div>
	</div>
	<div class="row" id="graphs">
		<noscript>You need to turn on Javascript!</noscript>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<h4>Discussion</h4>
			<div id="disqus_thread"></div>
		    <%= javascript_include_tag "disqus.min" %>
		</div>
	</div>
</div>