<% content_for :entity_type, "bills" %>
<% content_for :title, "Bills" %>
<div id="bill">
	<div id="billID" class="hide"><%= params[:id] %></div>
	<div class="row entityInfo">
		<div class="large-3 small-8 small-centered large-uncentered columns">
			<span aria-hidden="true" class="icon-file extraLargeIcon"></span>
		</div>
		<div class="large-9 columns">
			<h1></h1>
			<p></p>
		</div>
	</div>
	<div class="row" id="graphs">
		<noscript>You need to turn on Javascript!</noscript>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<h4>Discussion</h4>
			<div id="disqus_thread"></div>
		    <%= javascript_include_tag "disqus.min", :defer => "defer" %>
		</div>
	</div>
</div>