<% content_for :title, "Industries" %>
<div class="row extraPad">
	<div class="large-12 columns">
		<h1 class="aligncenter">Industries</h1>
		<p class="aligncenter">An industry is a group of organizations. This also encompasses special interest groups.</p>
	</div>
</div>