<% content_for :entity_type, "industries" %>
<div id="industry">
	<div id="industryID" class="hide"><%= params[:id] %></div>
	<div class="row entityInfo">
		<div class="large-9 push-3 columns"></div>
		<div class="large-3 small-8 pull-9 small-centered large-uncentered columns"></div>
	</div>
	<div class="row" id="graphs">
		<noscript>You need to turn on Javascript!</noscript>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<h4>Discussion</h4>
			<div id="disqus_thread"></div>
		    <%= javascript_include_tag "disqus.min", :defer => "defer" %>
		</div>
	</div>
</div>