<% content_for :title, "SOS" %>
<div class="row">
	<div class="large-12 columns">
		<h1 class="hero">Hmm, there was a problem there...</h1>
	</div>
	<div class="large-4 small-10 small-centered large-centered columns">
		<%= link_to "Let's go home!", root_path, :class => "button large expand radius" %>
	</div>
	<div class="large-12 columns">
		<p class="aligncenter"><em>Our tech team has been notified, sorry for the inconvenience!</em></p>
	</div>
</div>