<% content_for :title, "Page Not Found" %>
<%= render layout: "shared/backgrounds", locals: { image: "mlk" } do %>
<h1 class="text-center">Uh oh.</h1>
<p class="text-center">There was a problem... <%= link_to "Wanna go home!", root_path %></p>
<% end %>