<% content_for :title, "Page Not Found" %>
<div class="row">
	<div class="large-12 columns">
		<h1 class="text-center">We couldn't find that page...</h1>
	</div>
	<div class="large-4 medium-6 small-10 large-centered medium-centered small-centered columns">
		<%= link_to "Let's go home!", root_path, :class => "button expand radius" %>
	</div>
</div>