<% content_for :title, "Page Not Found" %>
<div class="row">
	<div class="large-12 columns">
		<h1 class="hero">We couldn't find that page...</h1>
	</div>
	<div class="large-4 small-10 small-centered large-centered columns">
		<%= link_to "Let's go home!", root_path, :class => "button large expand radius" %>
	</div>
</div>