// Shake animation, used on the Poliana logos
@include keyframes(shake) {
    0% { @include rotate(0deg); }
    25% { @include rotate(-1deg); }
	50% { @include rotate(0deg); }
	75% { @include rotate(1deg); }
    100% { @include rotate(0deg); }
}

.shake {
	&:hover {
	    @include animation(shake 0.2s 1 linear);
	    @include transform-origin(50% 50%);
	}
}

// Loader animation, used sitewide
@include keyframes(loaderLeft) {
    0% { left: 25%; @include scale(1); }
	50% { left: -25%; @include scale(0.75); }
    100% { left: 25%; @include scale(1); }
}

@include keyframes(loaderRight) {
    0% { left: 75%; @include scale(1); }
	50% { left: 125%; @include scale(0.75); }
    100% { left: 75%; @include scale(1); }
}

.loader {
	width: 64px;
	height: 24px;
	margin: 60px auto;
	position: relative;
	display: block;
	div {
		width: 24px;
	    height: 24px;
	    border-radius: 50%;
	    display: inline-block;
	    position: relative;
	    vertical-align: middle;
		&:before, &:after {
		    content: '';
		    top: 0px;
			width: 100%;
		    height: 100%;
		    border-radius: 100%;
		    position: absolute;
		}
		&:before {
			@include animation(loaderLeft 1s infinite ease-in-out);
			left: 25%;
			background-color: rgba($blue, 0.5);
		}
		&:after {
			@include animation(loaderRight 1s infinite ease-in-out);
			left: 125%;
			background-color: rgba($red, 0.5);
		}
	}
}