// All footer styles
#footer {
	background: $black;
	color: $white;
	height: $footer-height-small;
	margin-top: 20px;
	@media #{$medium-up} {
		height: $footer-height-medium;
	}
	.row {
		padding-top: 30px;
		#logo-footer {
			display: none;
			@media #{$medium-up} {
				display: block;
				height: $logo-height;
				width: auto;
			}
		}
		h4 {
			font-weight: bold;
			text-align: center;
			color: $white;
			margin-bottom: 20px;
		}
		p {
			color: $white;
			font-size: 1em;
			margin-top: 10px;
			text-align: center;
			&:first-of-type { text-align: left; }
			@media #{$medium-up} {
				font-size: 0.85em;
				text-align: left;
			}
		}
		.social {
			list-style-type: none;
			overflow: hidden;
			margin-bottom: 5px;
			width: 155px;
			margin-left: auto;
			margin-right: auto;
			@media #{$medium-up} {
				margin-left: 0px;
				margin-right: 0px;
			}
			li {
				float: left;
				margin-right: 10px;
				a {
					font-size: 1.25em;
					color: $gray;
					&:hover { color: $white; }
				}
			}
		}
		.copyright {
			list-style-type: none;
			margin: 0px;
			margin-top: 10px;
			li {
				font-size: 0.9em;
				text-align: center;
				color: $black-alt;
				@media #{$medium-up} {
					text-align: left;
					float: left;
					padding-left: 10px;
					margin-right: 10px;
					border-left: 1px solid $black-alt;
					&:first-child {
						border-left: none;
						padding-left: 0px;
					}
				}
			}
			a {
				color: $black-alt;
				&:hover { color: $gray-alt; }
			}
		}
	}
}