// Basic site-wide element resets
html, body { height: 100%; }
*:focus { outline: none !important; }
a { @include single-transition(color, 0.1s, linear); }
p { font-weight: 300; }
small { font-size: 0.75em; }

// Pretty little text selection
::selection { background: rgba($blue, 0.75); color: $white; }
::-moz-selection { background: rgba($blue, 0.75); color: $white; }

// Helper classes
.no-space {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.extra-space {
	margin: 20px inherit;
}

.read-more {
	padding-top: 0px;
	margin-top: -10px;
	a {
		font-size: 0.9em;
		font-weight: 700;
	}
}

.gray-caps {
	text-transform: uppercase;
	font-weight: 700;
	color: $gray;
	font-size: 0.9em;
}

.upsize { font-size: 1.25em; }
.downsize { font-size: 0.75em; }

.full-background {
	margin-top: -20px;
	height: $small-background;
	width: 100%;
	margin-bottom: 40px;
	background: $white;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	&.expanded { height: $small-background + 150; }
	&.single {
		h1 { margin-top: 80px; }
		.play-video { margin-top: 30px; }
	}
	@include background-size(cover);
	* {
		color: $white;
		text-align: center;
	}
	p { display: none; }
	h1 {
		margin-top: 100px;
		@include text-pop($black);
	}
	@media #{$medium-up} {
		height: $medium-background;
		&.expanded { height: $medium-background + 100; }
		&.single {
			h1 {
				font-weight: 300;
				margin-top: 80px;
			}
		}
		* { text-align: left; }
		p {
			display: block;
			font-size: 1.1em;
			@include text-pop($black);
		}
		h1 {
			font-size: 3em;
			margin-top: 90px;
			font-weight: 700;
			@include text-pop($black, 2px);
		}
	}
	@media #{$large-up} {
		height: $large-background;
		&.expanded { height: $large-background + 50; }
		p { font-size: 1.25em; }
		h1 {
			font-size: 3.5em;
			margin-top: 120px !important;
		}
	}
}

.background-video {
	position: relative;
	margin-top: -20px;
	height: $small-background;
	width: 100%;
	overflow: hidden;
	margin-bottom: 40px;
	background: $white;
	video {
		position: absolute;
		left: 0px;
		top: 0px;
		min-width: 100%;
		width: 100%;
		z-index: 0;
		background: $black;
		@include background-size(cover);
		@media #{$medium-up} { top: -40px; }
		@media #{$large-up} { top: -100px; }
	}
	.row {
		position: relative;
		z-index: 2;
		* {
			color: $white;
			text-align: center;
		}
		h1 {
			margin-top: 40px;
			@include text-pop($black);
			font-size: 1.5em;
			@media #{$medium-up} {
				margin-top: 30px;
				font-size: 2.5em;
			}
			@media #{$large-up} {
				margin-top: 100px;
				font-size: 3em;
			}
		}
		h3 {
			@include text-pop($black);
			display: none;
			@media #{$medium-up} {
				display: block;
				font-size: 1.25em;
			}
			@media #{$medium-up} { font-size: 1.5em; }
		}
		form {
			margin-top: 20px;
			margin-bottom: 0px;
			input {
				&[type=email] {
					text-align: left;
					height: 100%;
				}
				&[type=submit] {
					font-weight: 700 !important;
					font-size: 0.9em;
					padding: 8px;
				}
			}
			@media #{$medium-up} {
				margin-top: 40px;
				margin-bottom: 20px;
			}
			@media #{$large-up} { margin-bottom: 60px; }
		}
	}
	@media #{$medium-up} { height: $medium-background + 100; }
	@media #{$large-up} { height: $large-background + 200; }
}

.hero {
	margin: 10px auto;
	@media #{$medium-up} { margin: 20px auto; }
	h1, h2, h3, h4, h5 {
		margin-bottom: 10px;
		@media #{$medium-up} { margin-bottom: 20px; }
	}
}

// Off canvas menu wrapper and general content styles
.off-canvas-wrap {
	#container {
		min-height: auto;
		min-height: 100%;
		margin-top: 80px;
		margin-bottom: -1 * $footer-height-small;
		background: $white;
		&:after {
			content: "";
			display: block;
			height: $footer-height-small;
		}
		@media #{$medium-up} {
			margin-bottom: -1 * $footer-height-medium;
			&:after { height: $footer-height-medium; }
		}
		#content { padding-bottom: 20px; }
	}
}

.foldable {
	.foldable-header {
		h3 {
			position: relative;
			cursor: pointer;
			&:after {
				content: "\25BA";
				position: absolute;
				font-size: 0.8em;
				right: 0px;
				top: 0px;
				line-height: 2em;
				color: $gray;
				&:hover { color: $gray-alt; }
			}
		}
		&.down {
			h3 {
				&:after { content: "\25BC"; }
			}
		}
	}
	.foldable-content {
		margin: 10px 0px;
		@media #{$medium-up} { display: block !important; }
	}
}

.feedback-link {
	position: fixed;
	bottom: 0px;
	right: 20px;
	display: block;
	background: $black;
	color: $white;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 700;
	padding: 10px 20px;
	@include single-transition(all, 0.1s, linear);
	@include border-radius($global-radius $global-radius 0px 0px);
	&:hover {
		background: $black-alt;
		color: $white;
	}
}

.facebook, .twitter, .google-plus, .linkedin {
	color: $white;
	span {
		&:first-of-type { padding-right: 10px; }
	}
}

.facebook {
	background: $facebook;
	@include flatten(darken($facebook, 10%));
	&:hover { background: darken($facebook, 5%); };
}

.twitter {
	background: $twitter;
	@include flatten(darken($twitter, 10%));
	&:hover { background: darken($twitter, 5%); };
}

.google-plus {
	background: $google-plus;
	@include flatten(darken($google-plus, 10%));
	&:hover { background: darken($google-plus, 5%); };
}

.linkedin {
	background: $linkedin;
	@include flatten(darken($linkedin, 10%));
	&:hover { background: darken($linkedin, 5%); };
}

.blue {
	color: $blue !important;
}
