// Basic site-wide element resets
html, body { height: 100%; }
*:focus { outline: none !important; }
a { @include single-transition(color, 0.1s, linear); }
p { font-weight: 300; }
small { font-size: 0.75em; }

// Pretty little text selection
::selection { background: rgba($blue, 0.75); color: $white; }
::-moz-selection { background: rgba($blue, 0.75); color: $white; }

// Helper classes
.no-space {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.read-more {
	padding-top: 0px;
	margin-top: -10px;
	a {
		font-size: 0.9em;
		font-weight: bold;
	}
}

.full-background {
	margin-top: -20px;
	height: $small-background;
	width: 100%;
	margin-bottom: 40px;
	background: $black;
	&.expanded { height: $small-background + 200; }
	&.home {
		.play-video { margin-top: 30px; }
	}
	@include background-size(cover);
	* {
		color: $white;
		text-align: center;
	}
	p { display: none; }
	h1 {
		margin-top: 60px;
		@include text-pop($black);
	}
	@media #{$medium-up} {
		height: $medium-background;
		&.expanded { height: $medium-background + 200; }
		&.home {
			h1 {
				font-weight: 300;
				margin-top: 120px;
			}
		}
		* { text-align: left; }
		p {
			display: block;
			font-size: 1.1em;
			@include text-pop($black);
		}
		h1 {
			font-size: 3em;
			margin-top: 90px;
			font-weight: bold;
			@include text-pop($black, 2px);
		}
	}
	@media #{$large-up} {
		height: $large-background;
		&.expanded { height: $large-background + 100; }
		p { font-size: 1.25em; }
		h1 {
			font-size: 3.5em;
			margin-top: 120px;
		}
	}
}

.hero {
	margin: 10px auto;
	@media #{$medium-up} { margin: 20px auto; }
	h1, h2, h3, h4, h5 {
		margin-bottom: 10px;
		@media #{$medium-up} { margin-bottom: 20px; }
	}
}

// Off canvas menu wrapper and general content styles
.off-canvas-wrap {
	#container {
		min-height: auto;
		min-height: 100%;
		margin-bottom: -1 * $footer-height-small;
		&:after {	
			content: "";
			display: block;
			height: $footer-height-small;
		}
		@media #{$medium-up} {
			margin-bottom: -1 * $footer-height-medium;
			&:after { height: $footer-height-medium; }
		}
		#content { padding-bottom: 20px; }
	}
}

.foldable {
	.foldable-header {
		h3 {
			position: relative;
			cursor: pointer;
			&:after {
				content: "\25BA";
				position: absolute;
				font-size: 0.8em;
				right: 0px;
				top: 0px;
				line-height: 2em;
				color: $gray;
				&:hover { color: $gray-alt; }
			}
		}
		&.down {
			h3 {
				&:after { content: "\25BC"; }
			}
		}
	}
	.foldable-content {
		margin: 10px 0px;
		@media #{$medium-up} { display: block !important; }
	}
}