.graph {
	h4 {
		margin-top: 20px;
		margin-bottom: 20px;
		@media #{$medium-up} {
			margin-top: 40px;
			margin-bottom: 20px;
		}
	}
	.vertical-bar {
		.axis {
			path { display: none; }
			.tick {
				text { font-size: 0.75em; }
				line {
					shape-rendering: crispEdges;
					stroke: $gray;
				}
				&:first-child {
					text { display: none; }
				}
			}
		}
	}
	.pie {
		.arc {
			path {
				stroke: $white;
				stroke-width: 2px;
			}
			text {
				font-weight: 700;
				font-size: 1em;
			}
		}
	}
	.scrubber {
		.axis {
			path { display: none; }
			.tick {
				line { stroke: $gray; }
				.tick-text {
					font-size: 0.75em;
					text-transform: uppercase;
					font-weight: 700;
					fill: $gray;
				}
				.tick-secondary-text {
					font-size: 0.85em;
					font-weight: 700;
					color: $black;
					text-align: center;
				}
				&:last-of-type { display: none; }
			}
		}
		.brush {
			.background {
				fill: $gray;
				fill-opacity: 0.25;
				visibility: visible !important;
			}
			.extent {
				fill: $black;
				fill-opacity: 0.25;
			}
			.resize {
				rect {
					fill: $white;
					visibility: visible !important;
				}
			}
		}
	}
	.information {
		overflow: hidden;
		.icons {
			float: none;
			width: 75px;
			overflow: hidden;
			margin: 0px auto 10px auto;
			list-style-type: none;
			@media #{$medium-up} {
				float: right;
				margin: 0px;
				margin-bottom: 0px;
				width: 50px;
			}
			li {
				float: left;
				margin-right: 20px;
				&:last-child { margin-right: 0px; }
				@media #{$medium-up} { 
					margin-right: 0px;
					&:last-child { float: right; }
				}
				span {
					color: $gray;
					cursor: pointer;
					font-size: 1.5em;
					@media #{$medium-up} { font-size: 1.1em; }
					@include single-transition(color, 0.1s, linear);
					&:hover { color: $gray-alt; }
				}
			}
		}
		.legend {
			float: none;
			width: 100%;
			@media #{$medium-up} {
				float: left;
				width: 85%;
			}
			&.vertical, &.horizontal {
				margin: 0px;
				list-style-type: none;
				padding: 0px;
				li {
					overflow: hidden;
					span {
						display: block;
						width: 20px;
						height: 20px;
						float: left;
						@include border-radius($global-radius);
					}
					p {
						margin-bottom: 5px;
						margin-top: -1px;
						padding-left: 10px;
						float: left;
						width: 85%;
						font-size: 0.9em;
						@media #{$medium-up} { margin-bottom: 10px; }
					}
				}
			}
			&.horizontal {
				overflow: hidden;
				li {
					float: left;
					width: 150px;
				}
			}
		}
	}
}

.data-partners {
	list-style-type: none;
	overflow: hidden;
	li {
		float: left;
		max-width: 100px;
		height: 60px;
		margin-right: 20px;
	}
}