// Primary colors
$white: #fafafa;
$black: #222;
$gray: #ddd;
$blue: #61d2d6;
$red: #ea3556;
$green: #c4d117;
$yellow: #ffdb18;

// Alternate colors
$white-alt: darken($white, 10%);
$black-alt: lighten($black, 25%);
$gray-alt: darken($gray, 10%);
$blue-alt: darken($blue, 15%);
$red-alt: darken($red, 10%);
$green-alt: darken($green, 10%);
$yellow-alt: darken($yellow, 10%);

// General variables
$header-height: 60px;
$logo-height: 35px;
$footer-height-small: 480px;
$footer-height-medium: 250px;