$politician-border-width: 4px;
$politician-dimensions: 20px;
$politician-width: $politician-dimensions + $politician-border-width + $politician-border-width;
$politician-height: $politician-dimensions + $politician-border-width;

.politician-card {
	&.sided { margin-right: 10px; }
	&.small-centered {
		@media #{$small-only} { margin: 0 auto; }
	}
	list-style-type: none;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	width: ($politician-border-width + $politician-width) * 2;
	@include border-radius($global-radius);
	&.democrat {
		border: $politician-border-width solid $blue;
		li {
			&:first-child {
				background: $blue;
				color: $white;
			}
			&:last-child {
				background: $white;
				color: $blue;
			}
		}
	}
	&.republican {
		border: $politician-border-width solid $red;
		li {
			&:first-child {
				background: $red;
				color: $white;
			}
			&:last-child {
				background: $white;
				color: $red;
			}
		}
	}
	&.independent {
		border: $politician-border-width solid $purple;
		li {
			&:first-child {
				background: $purple;
				color: $white;
			}
			&:last-child {
				background: $white;
				color: $purple;
			}
		}
	}
	li {
		float: left;
		width: $politician-width;
		height: $politician-height;
		line-height: $politician-height;
		text-align: center;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 700;
	}
}

.politician-sub-information {
	.left {
		@media #{$small-only} {
			float: none !important;
			text-align: center;
		}
	}
}

.politician-personal-information {
	.columns {
		&:last-child { float: left; }
	}
	.politician-personal-section {
		p {
			margin-bottom: 0px;
			&.gray-caps {
				margin-bottom: 10px;
			}
		}
		.progress { margin-top: 10px; }
	}
}

#politicians-result {
	.short { display: block; }
	.long { display: none; }
	&.less {
		.short { display: none; }
		.long { display: block; }
	}
	.politician {
		.short, .long {
			margin-top: 10px;
			float: left;
		}
		.short {
			h5 { font-size: 1em; }
		}
		.long {
			.thumbnail {
				width: 140px;
				height: 140px;
				background-repeat: no-repeat;
				@include background-size(contain);
				background-position: 50% 0%;
				display: block;
				margin: 0px auto 10px auto;
			}
			h5 { margin-bottom: 0px; }
			p {
				margin-bottom: 0px;
				color: $black;
				&:hover { color: $black; }
			}
			ul {
				display: block;
				margin: 10px auto;
			}
		}
	}
}

#politician-search {
	.gray-caps {
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.input-new-line { display: block; }
}

#politician-search-list {
	li {
		position: relative;
		height: 90px;
		margin-bottom: 20px;
		font-weight: 700;
		.picture {
			width: 64px;
			height: 64px;
			position: absolute;
			top: 0px;
			left: 0px;
			@include background-size(cover);
			& + div {
				margin-top: 39px;
				ul {
					height: 32px;
					@include border-radius(0px 0px 5px 5px);
				}
			}
		}
		.politician-info {
			position: absolute;
			top: 0px;
			left: 80px;
			a {
				* {
					color: $black;
					&:hover { color: $black; }
				}
				h5 { margin-top: 15px; }
				.role {
					font-size: 0.9em;
					font-style: italic;
					margin-top: -10px;
					margin-bottom: 5px;
				}
				.important {
					font-size: 0.9em;
					span { font-weight: 700; }
				}
			}
		}
	}
}

#politicians-list-pagination {
	a {
		display: block;
		text-align: center;
		font-weight: 700;
	}
}
