
// Place all the styles related to the Bill controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.social {
	margin-top: 10px;
	float: right;
	li {
		float: left;
		margin-left: 10px;
		a {
			color: #DDD;
			&:hover { color: #CCC; }
		}
	}
}

.aligncenter { text-align: center; }

#billIndustry {
	position: relative;
	.social {
		list-style-type: none;
		position: absolute;
		left: -20px;
		top: 80px;
		li {
			font-size: 1.5em;
			a {
				color: #DDD;
				&:hover { color: #CCC; }
			}
		}
	}
	.industryBreadcrumbs {
		list-style-type: none;
		overflow: hidden;
		margin-top: -15px;
		li {
			float: left;
			cursor: pointer;
			&:after { content: '\00A0\00BB\00A0'; }
			&:last-child {
				font-weight: bold;
				&:after { content: ''; }
			}
		}
	}
	svg {
	    width: 100%;
	    height: 100%;
		.midLine {
		    stroke: $black;
		    stroke-width: 3px;
		}
		.summaryText { font-size: 1.5em; }
		.summaryTitle { font-weight: bold; }
		.check-mark { stroke: $black; }
		.grid {
			path { stroke: 0; }
			.tick {
			    stroke: #ddd;
			    &:first-child { stroke: $black; }
			}
		}
		.x-axis {
		    font-size: 1.0em;
		    .domain { display: none; }
		}
		.y-axis {
		    font-size: 1.0em;
		    path { display: none; }
		    g {
		        &:first-child { display: none; }
		    }
		}
		.bar { cursor: pointer; }
	}
}

/*



@import "variables";

@font-face {
	font-family: 'social';
	src:url('fonts/social.eot');
	src:url('fonts/social.eot?#iefix') format('embedded-opentype'),
		url('fonts/social.woff') format('woff'),
		url('fonts/social.ttf') format('truetype'),
		url('fonts/social.svg#social') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-facebook, .icon-twitter, .icon-mail, .icon-google-plus, .icon-instagram, .icon-tumblr, .icon-pinterest, .icon-download {
	font-family: 'social';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-facebook:before { content: "\e000"; }
.icon-twitter:before { content: "\e001"; }
.icon-mail:before { content: "\e002"; }
.icon-google-plus:before { content: "\e003"; }
.icon-instagram:before { content: "\e004"; }
.icon-tumblr:before { content: "\e005"; }
.icon-pinterest:before { content: "\e006"; }
.icon-download:before { content: "\e007"; }

.clear {
    opacity: 0;
}
.white {
    background: $white;
    fill: $white;
    color: $black;
}
.black {
    background: $black;
    fill: $black;

    color: $white;     
}
.red {
    background: $red;
    fill: $red;
    color: $white;
}
.yellow {
    background: $yellow;
    fill: $yellow;
    color: $white;    
}
.blue {
    background: $blue;
    fill: $blue;
    color: $white;    
}
.green {
    background: $green;
    fill: $green;
    color: $white;
}
.seagreen {
    background: $seagreen;
    fill: $seagreen;
    color: $white;
}
.gray {
    background: $gray;
    fill: $gray;
    color: $white;
}
.purple {
    background: $purple;
    fill: $purple;
    color: $white;
}
.brown {
    background: $brown;
    fill: $brown;
    color: $brown;
}
.orange {
    background: $orange;
    fill: $orange;
    color: $orange;
}
#billIndustry {
	position: relative;
	.social {
		list-style-type: none;
		position: absolute;
		left: -20px;
		top: 80px;
		li {
			font-size: 1.5em;
			a {
				color: #DDD;
				&:hover { color: #CCC; }
			}
		}
	}
	.industryBreadcrumbs {
		list-style-type: none;
		overflow: hidden;
		margin-top: -15px;
		li {
			float: left;
			cursor: pointer;
			&:after { content: '\00A0\00BB\00A0'; }
			&:last-child {
				font-weight: bold;
				&:after { content: ''; }
			}
		}
	}
	svg {
	    width: 100%;
	    height: 100%;
		.midLine {
		    stroke: $black;
		    stroke-width: 3px;
		}
		.summaryText { font-size: 1.5em; }
		.summaryTitle { font-weight: bold; }
		.check-mark { stroke: $black; }
		.grid {
			path { stroke: 0; }
			.tick {
			    stroke: #ddd;
			    &:first-child { stroke: $black; }
			}
		}
		.x-axis {
		    font-size: 1.0em;
		    .domain { display: none; }
            display: none;
		}
		.y-axis {
		    font-size: 1.0em;
		    path { display: none; }
		    g {
		        &:first-child { display: none; }
		    }
		}
		.bar { cursor: pointer; }

        .legend {
            font-size: 1.5em;
        }
	}
}
*/