// Place all the styles related to the Bill controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.social {
	margin-top: 10px;
	float: right;
	li {
		float: left;
		margin-left: 10px;
		a {
			color: #DDD;
			&:hover { color: #CCC; }
		}
	}
}

.aligncenter { text-align: center; }

#billIndustry {
	position: relative;
	.social {
		list-style-type: none;
		position: absolute;
		left: -20px;
		top: 80px;
		li {
			font-size: 1.5em;
			a {
				color: #DDD;
				&:hover { color: #CCC; }
			}
		}
	}
	.industryBreadcrumbs {
		list-style-type: none;
		overflow: hidden;
		margin-top: -15px;
		li {
			float: left;
			cursor: pointer;
			&:after { content: '\00A0\00BB\00A0'; }
			&:last-child {
				font-weight: bold;
				&:after { content: ''; }
			}
		}
	}
	svg {
	    width: 100%;
	    height: 100%;
		.midLine {
		    stroke: $black;
		    stroke-width: 3px;
		}
		.summaryText { font-size: 1.5em; }
		.summaryTitle { font-weight: bold; }
		.check-mark { stroke: $black; }
		.grid {
			path { stroke: 0; }
			.tick {
			    stroke: #ddd;
			    &:first-child { stroke: $black; }
			}
		}
		.x-axis {
		    font-size: 1.0em;
		    .domain { display: none; }
		}
		.y-axis {
		    font-size: 1.0em;
		    path { display: none; }
		    g {
		        &:first-child { display: none; }
		    }
		}
		.bar { cursor: pointer; }
	}
}