$facebook: #3B5998;
$twitter: #5DD7FC;

.button {
	&.facebook, &.twitter {
		margin-bottom: 30px;
		span {
			padding: 0px 10px;
			vertical-align: middle;
			&:first-of-type { font-size: 1.5em; }
		}
	}
	&.facebook {
		background: $facebook;
		&:hover { background: darken($facebook, 10%); }
		@include single-box-shadow(darken($facebook, 10%), 0px, 3px, 0px);
		&.tiny { @include single-box-shadow(darken($facebook, 10%), 0px, 2px, 0px); }
		&:active { @include single-box-shadow(darken($facebook, 10%), 0px, 1px, 0px); }
	}
	&.twitter {
		background: $twitter;
		&:hover { background: darken($twitter, 10%); }
		@include single-box-shadow(darken($twitter, 10%), 0px, 3px, 0px);
		&.tiny { @include single-box-shadow(darken($twitter, 10%), 0px, 2px, 0px); }
		&:active { @include single-box-shadow(darken($twitter, 10%), 0px, 1px, 0px); }
	}
}

.prefix, .postfix {
	&.icon-lock { padding-left: 8px; }
}