#bill, #industry, #politician {
	#disqus_thread { padding-bottom: 40px; }
	.entityInfo {
		.large-3 {
			img { margin-top: 1em; }
		}
		h1 {
			font-size: 2em;
			text-align: center;
			@media #{$small} { text-align: left; }
		}
		h5 {
			margin-top: -15px;
			margin-bottom: 20px;
			text-align: center;
			@media #{$small} { text-align: left; }
		}
		.inline-list {
			margin-bottom: 10px;
			li {
				&:last-child { cursor: pointer; }
			}
		}
	}
	.graph {
		position: relative;
		margin-bottom: 20px;
		@include user-select(none);
		h4 {
			margin-bottom: 20px;
			&.h4Pad { margin-bottom: 100px; }
		}
		.d3Tooltip {
			position: absolute;
			z-index: 10;
			background: $body-font-color;
			background: rgba($body-font-color, 0.9);
			color: $body-bg;
			padding: 20px 10px;
			overflow: hidden;
			width: 260px;
			height: 130px;
			@include box-sizing(border-box);
			@include border-radius($global-radius);
			display: none;
			h5 {
				margin-top: -10px;
				margin-bottom: 5px;
				font-weight: bold;
				color: #fff;
				text-align: center;
			}
			.legend {
				position: relative;
				width: 60px;
				margin-left: 10px;
				margin-top: 10px;
				li {
					span {
						font-weight: $body-font-weight !important;
					}
				}
			}
			&.smallCentered {
				height: 80px;
				h5 { margin-top: -5px; }
				p { font-size: 0.85em; }
			}
			&.taller { height: 145px; }
		}
		.legend {
			position: absolute;
			&.top {
				top: 35px;
				@media #{$small} { top: 50px; }
			}
			&.bottom {
				position: relative;
				padding-bottom: 40px;
				@media #{$small} { padding-bottom: 20px; }
			}
			&.leftPad {
				margin-left: 0px;
				@media #{$small} { margin-left: 50px; }
			}
			margin-left: 0px;
			overflow: hidden;
			list-style-type: none;
			li {
				margin-bottom: 10px;
				min-height: 18px;
				font-size: 0.8em;
				@media #{$small} { font-size: 1em; }
				span {
					display: block;
					float: left;
				}
				.square {
					width: 18px;
					height: 18px;
					margin-right: 10px;
				}
				a { color: $body-font-color; }
				.title {
					text-transform: capitalize;
					line-height: 18px;
				}
			}
			&.leftFloat {
				li {
					float: left;
					.square {
						width: 24px;
						margin-right: 1px;
					}
					.title {
						&:first-of-type { margin-right: 10px; }
						&:last-of-type { margin-left: 10px; }
					}
				}
			}
		}
		.sharable {
			position: absolute;
			bottom: 5px;
			left: 20px;
			color: $secondary-color;
			overflow: hidden;
			@include single-transition(color, 0.1s, linear);
			span {
				float: left;
				display: block;
				height: 16px;
				line-height: 16px;
				cursor: pointer;
				font-size: 0.9em;
				&:last-of-type {
					text-transform: uppercase;
					font-weight: bold;
					padding-left: 5px;
				}
			}
			&:hover {
				color: darken($secondary-color, 15%);
			}
		}
		.interactive { cursor: pointer; }
		.voteBD-center, .partyCT-center, .tooltipSplit {
			list-style-type: none;
			margin-left: 0px;
			margin-bottom: 0px;
			width: 120px;
			height: 80px;
			position: absolute;
			li {
				text-align: center;
				span {
					display: block;
					&.title {
						text-transform: capitalize;
						font-weight: bold;
					}
					&.amount {
						font-size: 3em;
						margin-top: -10px;
					}
					&.subAmount {
						font-size: 0.9em;
						margin-top: -10px;
						font-style: italic;
					}
				}
			}
		}
		.tooltipSplit {
			overflow: visible;
			width: 240px;
			li {
				border-right: 1px solid #666;
				width: 120px;
				float: left;
				font-size: 0.9em;
				&:last-child { border-right: none; }
			}
		}
		.poliViewType {
			list-style-type: none;
			float: right;
			margin-left: 0px;
			margin-bottom: 0px;
			li {
				height: 40px;
				line-height: 40px;
				float: left;
				margin-left: 10px;
				color: darken($secondary-color, 15%);
				@include single-transition(color, 0.1s, linear);
				&:hover {
					color: darken($secondary-color, 30%);
					cursor: pointer;
				}
				&.current {
					color: $primary-color;
					&:hover { color: $primary-color; }
				}
				&:first-child {
					display: none;
					@media #{$small} { display: block; }
					color: $body-font-color;
					margin-right: 5px;
					font-size: 0.9em;
					&:hover {
						color: $body-font-color;
						cursor: default;
					}
				}
			}
		}
		.poliViewColumn {
			div {
				&:first-of-type {
					border-bottom: 1px solid $secondary-color;
					margin-bottom: 20px;
					overflow: hidden;
					* {
						float: left;
						margin-top: 0px;
						margin-bottom: 0px;
						&:last-child { float: right; }
					}
					h5 {
						font-weight: bold;
						margin-bottom: 5px;
						span {
							color: $secondary-color;
							padding-left: 10px;
							margin-top: 2px;
						}
					}
				}
				&:last-of-type {
					ul {
						list-style-type: none;
						overflow: hidden;
						margin-left: 0px;
						li {
							float: left;
							width: 50px;
							height: 50px;
							display: block;
							background-repeat: no-repeat;
							background-position: 50%;
							@include background-size(contain);
							&.hide { display: none; }
							a {
								display: block;
								width: 100%;
								height: 100%;
								position: relative;
								span {
									display: block;
									width: 100%;
									height: 100%;
									position: absolute;
									top: 0px;
									left: 0px;
									z-index: 2;
									opacity: 0.35;
								}
							}
						}
					}
				}
			}
		}
		.axis {
			.tick {
				&:nth-child(odd) {
					text { display: none; }
				}
				line { stroke: darken($secondary-color, 5%); }
			}
			&.y {
				.domain { display: none; }
			}
		}
	}
}