#industry {
	#disqus_thread { padding-bottom: 40px; }
	.entityInfo {
		.large-3 {
			img { margin-top: 1em; }
		}
		h1 {
			font-size: 2em;
			text-align: center;
			@media #{$small} { text-align: left; }
		}
		h5 {
			margin-top: -15px;
			margin-bottom: 20px;
			text-align: center;
			@media #{$small} { text-align: left; }
		}
		.inline-list {
			margin-bottom: 10px;
			li {
				&:last-child { cursor: pointer; }
			}
		}
	}
	.graph {
		position: relative;
		margin-bottom: 20px;
		@include user-select(none);
		h4 {
			&.h4Pad { margin-bottom: 100px; }
		}
	}
}