// This is the master list of sitewide variables and classes

$abs_white: #fff;
$abs_black: #000;
$white: #fafafa;
$black: #333;
$gray: #ddd;
$red: #ea3556;
$yellow: #ffdb18;
$blue: #61d2d6;
$green: #c4d117;

.white {
    background: $white;
    fill: $white;
    color: $black;
}
.black {
    background: $black;
    fill: $black;
    color: $white;     
}
.red {
    background: $red;
    fill: $red;
    color: $white;
}
.yellow {
    background: $yellow;
    fill: $yellow;
    color: $white;    
}
.blue {
    background: $blue;
    fill: $blue;
    color: $white;    
}
/*
// GRADIENTS

.green {
    background: $green;
    fill: $green;
    color: $white;
}
.green1 {
	background: darken($green, 20%);
    fill: darken($green, 20%);
    color: $white;
}
.green2 {
	background: darken($green, 10%);
    fill: darken($green, 10%);
    color: $white;
}
.green3 {
	background: $green;
    fill: $green;
    color: $white;
}
.green4 {
	background: lighten($green, 10%);
    fill: lighten($green, 10%);
    color: $white;
}
.green5 {
	background: lighten($green, 20%);
    fill: lighten($green, 20%);
    color: $white;
}
.gray {
    background: $gray;
    fill: $gray;
    color: $white;
}
.gray1 {
	background: darken($gray, 20%);
    fill: darken($gray, 20%);
    color: $white;
}
.gray2 {
	background: darken($gray, 10%);
    fill: darken($gray, 10%);
    color: $white;
}
.gray3 {
	background: $gray;
    fill: $gray;
    color: $white;
}
.gray4 {
	background: lighten($gray, 10%);
    fill: lighten($gray, 10%);
    color: $white;
}
.gray5 {
	background: lighten($gray, 20%);
    fill: lighten($gray, 20%);
    color: $white;
}
*/

/*
// COLD - WARM PART I

.green {
    background: $green;
    fill: $green;
    color: $white;
}
.green1 {
	background: #8D6AE3;
    fill: #8D6AE3;
    color: $white;
}
.green2 {
	background: #6090ED;
    fill: #6090ED;
    color: $white;
}
.green3 {
	background: #61D2D6;
    fill: #61D2D6;
    color: $white;
}
.green4 {
	background: #60ED94;
    fill: #60ED94;
    color: $white;
}
.green5 {
	background: #75D43D;
    fill: #75D43D;
    color: $white;
}
.gray {
    background: $gray;
    fill: $gray;
    color: $white;
}
.gray1 {
	background: #E8569A;
    fill: #E8569A;
    color: $white;
}
.gray2 {
	background: #D35E46;
	fill: #D35E46;
	color: $white;
}
.gray3 {
	background: #EA9F5A;
    fill: #EA9F5A;
    color: $white;
}
.gray4 {
	background: #D3AC46;
	fill: #D3AC46;
	color: $white;
}
.gray5 {
	background: #F7ED5E;
    fill: #F7ED5E;
    color: $white;
}
*/

// COLD - WARM PART II

.green {
    background: $green;
    fill: $green;
    color: $white;
}
.green1 {
	background: #A82221;
    fill: #A82221;
    color: $white;
}
.green2 {
	background: #DB5E31;
    fill: #DB5E31;
    color: $white;
}
.green3 {
	background: #EDA23E;
    fill: #EDA23E;
    color: $white;
}
.green4 {
	background: #F2CB67;
    fill: #F2CB67;
    color: $white;
}
.green5 {
	background: #D6BF59;
    fill: #D6BF59;
    color: $white;
}
.gray {
    background: $gray;
    fill: $gray;
    color: $white;
}
.gray1 {
	background: #0B486B;
    fill: #0B486B;
    color: $white;
}
.gray2 {
	background: #3B8686;
	fill: #3B8686;
	color: $white;
}
.gray3 {
	background: #79BD9A;
    fill: #79BD9A;
    color: $white;
}
.gray4 {
	background: #A8DBA8;
	fill: #A8DBA8;
	color: $white;
}
.gray5 {
	background: #CEF0B7;
    fill: #CEF0B7;
    color: $white;
}