<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Hello <%= @resource.email %>,</h1>
	<p>Someone has requested a link to change your password. You can do this here: <%= link_to 'change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>.</p>
	<p>If you didn't request this, please ignore this email.</p>
	<p>Your password won't change until you access the link above and create a new one.</p>
</body>
</html>