.white {
  background: #fafafa;
  fill: #fafafa;
  color: #333333; }

.black {
  background: #333333;
  fill: #333333;
  color: #fafafa; }

.red {
  background: #ea3556;
  fill: #ea3556;
  color: #fafafa; }

.yellow {
  background: #ffdb18;
  fill: #ffdb18;
  color: #fafafa; }

.blue {
  background: #61d2d6;
  fill: #61d2d6;
  color: #fafafa; }

.green {
  background: #c4d117;
  fill: #c4d117;
  color: #fafafa; }

.green1 {
  background: #A82221;
  fill: #A82221;
  color: #fafafa; }

.green2 {
  background: #DB5E31;
  fill: #DB5E31;
  color: #fafafa; }

.green3 {
  background: #EDA23E;
  fill: #EDA23E;
  color: #fafafa; }

.green4 {
  background: #F2CB67;
  fill: #F2CB67;
  color: #fafafa; }

.green5 {
  background: #D6BF59;
  fill: #D6BF59;
  color: #fafafa; }

.gray {
  background: #dddddd;
  fill: #dddddd;
  color: #fafafa; }

.gray1 {
  background: #0B486B;
  fill: #0B486B;
  color: #fafafa; }

.gray2 {
  background: #3B8686;
  fill: #3B8686;
  color: #fafafa; }

.gray3 {
  background: #79BD9A;
  fill: #79BD9A;
  color: #fafafa; }

.gray4 {
  background: #A8DBA8;
  fill: #A8DBA8;
  color: #fafafa; }

.gray5 {
  background: #CEF0B7;
  fill: #CEF0B7;
  color: #fafafa; }

.social {
  margin-top: 20px;
  float: right; }
  .social li {
    float: left;
    margin-left: 10px; }
    .social li a {
      color: #dddddd; }
      .social li a:hover {
        color: #61d2d6; }

.transparent {
  opacity: 0; }

select, .custom.dropdown.large {
  margin: 0 auto; }

.selectorHolder {
  z-index: 5000; }

rect[data-level="2"] {
  cursor: default; }

.joyride-tip-guide {
  z-index: 9999; }
  .joyride-tip-guide .joyride-content-wrapper {
    overflow: hidden; }
    .joyride-tip-guide .joyride-content-wrapper h3 {
      font-weight: 300;
      margin: 20px auto;
      text-align: left; }
    .joyride-tip-guide .joyride-content-wrapper .joyride-next-tip {
      float: right;
      background: #61d2d6;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      transition: all 0.1s linear;
      -webkit-box-shadow: 0px 2px 0px #2ba2a6;
      -moz-box-shadow: 0px 2px 0px #2ba2a6;
      box-shadow: 0px 2px 0px #2ba2a6;
      border: none; }
      .joyride-tip-guide .joyride-content-wrapper .joyride-next-tip:hover {
        background: #dddddd;
        -webkit-box-shadow: 0px 2px 0px #aaaaaa;
        -moz-box-shadow: 0px 2px 0px #aaaaaa;
        box-shadow: 0px 2px 0px #aaaaaa; }
  .joyride-tip-guide[data-index="1"] .joyride-next-tip {
    display: none; }
  .joyride-tip-guide[data-index="1"], .joyride-tip-guide[data-index="3"], .joyride-tip-guide[data-index="4"] {
    margin-top: 20px; }
  .joyride-tip-guide[data-index="5"] {
    margin-top: 140px; }

.joyride-modal-bg {
  z-index: 9998; }

.sponsors {
  float: right;
  width: 230px;
  display: block; }
  @media screen and (max-width: 767px) {
    .sponsors {
      float: none;
      margin: 0px auto 10px auto; } }
  .sponsors li {
    margin-left: 10px; }
    .sponsors li a {
      display: block;
      width: 100%;
      height: 100%; }
      .sponsors li a .miniLogo {
        float: right;
        max-width: 100px;
        max-height: 40px;
        margin-top: 10px;
        -webkit-filter: grayscale(1);
        filter: grayscale(1); }
        .sponsors li a .miniLogo:hover {
          -webkit-filter: grayscale(0);
          filter: grayscale(0); }
    .sponsors li:first-child {
      padding-top: 20px;
      text-transform: uppercase;
      font-size: 0.75em;
      font-weight: bold;
      color: #dddddd; }

#billIndustry {
  position: relative; }
  #billIndustry .social {
    list-style-type: none;
    position: absolute;
    left: -20px;
    top: 80px; }
    #billIndustry .social li {
      font-size: 1.5em; }
      #billIndustry .social li a {
        color: #DDD; }
        #billIndustry .social li a:hover {
          color: #CCC; }
  #billIndustry .industryBreadcrumbs {
    list-style-type: none;
    overflow: hidden;
    margin-top: -25px; }
    @media screen and (max-width: 767px) {
      #billIndustry .industryBreadcrumbs {
        margin-top: -15px; } }
    #billIndustry .industryBreadcrumbs li {
      float: left;
      cursor: pointer; }
      #billIndustry .industryBreadcrumbs li:after {
        content: '\00A0\00BB\00A0'; }
      #billIndustry .industryBreadcrumbs li:last-child {
        font-weight: bold; }
        #billIndustry .industryBreadcrumbs li:last-child:after {
          content: ''; }
  #billIndustry svg {
    width: 100%;
    height: 100%;
    padding-bottom: 40px; }
    #billIndustry svg .midLine {
      stroke: #333333;
      stroke-width: 3px; }
    #billIndustry svg .summaryText {
      font-size: 1.5em; }
    #billIndustry svg .summaryTitle {
      font-weight: bold; }
    #billIndustry svg .check-mark {
      stroke: #333333; }
    #billIndustry svg .grid path {
      stroke: 0; }
    #billIndustry svg .grid .tick {
      stroke: #ddd; }
      #billIndustry svg .grid .tick:first-child {
        stroke: #333333; }
    #billIndustry svg .x-axis {
      font-size: 1.0em;
      display: none; }
      #billIndustry svg .x-axis .domain {
        display: none; }
    #billIndustry svg .y-axis {
      font-size: 1.0em; }
      #billIndustry svg .y-axis path {
        display: none; }
      #billIndustry svg .y-axis g:first-child {
        display: none; }
    #billIndustry svg .bar {
      cursor: pointer; }
    #billIndustry svg .legend .key text {
      font-size: 1.1em; }
