/*
Syntax error: Undefined variable: "$small".
        on line 10 of /Applications/MAMP/htdocs/poliana/poliana_app/app/assets/stylesheets/industries.scss

Backtrace:
/Applications/MAMP/htdocs/poliana/poliana_app/app/assets/stylesheets/industries.scss:10
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/variable.rb:49:in `_perform'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/node.rb:40:in `perform'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:398:in `block in run_interp_no_strip'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:396:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:396:in `run_interp_no_strip'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:406:in `run_interp'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:360:in `visit_media'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:53:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:53:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:53:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:53:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:20:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:315:in `_render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:262:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:126:in `timed'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:139:in `block in compile'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/logger.rb:45:in `red'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:138:in `compile'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:118:in `compile_if_required'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:101:in `each'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:101:in `block in run'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:126:in `timed'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:100:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/commands/update_project.rb:45:in `perform'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/commands/base.rb:18:in `execute'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/commands/project_base.rb:19:in `execute'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Applications/CodeKit.app/Contents/Resources/engines/compass/bin/compass:44:in `block in <main>'
/Applications/CodeKit.app/Contents/Resources/engines/compass/bin/compass:58:in `call'
/Applications/CodeKit.app/Contents/Resources/engines/compass/bin/compass:58:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$small\".\A         on line 10 of /Applications/MAMP/htdocs/poliana/poliana_app/app/assets/stylesheets/industries.scss"; }
