<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Welcome to the Poliana beta!</h1>
	<p>To sign up for the site, just follow this link: <%= @signup_url %>.</p>
</body>
</html>