<% content_for :title, "Politicians" %>
<div class="page-specific" data-controller="graph_explorer"></div>
<div class="page-specific" data-controller="politicians"></div>
<div class="row">
	<div class="large-12 columns">
		<h1 class="text-center">Search All Politicians</h1>
	</div>
</div>
<div class="foldable">
	<div class="foldable-header down">
		<div class="row show-for-small">
			<div class="small-12 columns">
				<h3 class="title">Search Options</h3>
			</div>
		</div>
	</div>
	<div class="foldable-content">
		<div class="row">
			<div class="large-3 medium-4 small-12 columns">
				<form id="politician-search">
					<input type="text" name="query" placeholder="Search for anything...">
					<div class="foldable">
						<div class="foldable-header down">
							<div class="row">
								<div class="small-12 columns">
									<p class="gray-caps title">State</p>
								</div>
							</div>
						</div>
						<div class="foldable-content">
							<select name="state">
								<option disabled selected>Select a state</option>
							</select>
						</div>
					</div>
					<p class="gray-caps">Politician Type</p>
					<input type="checkbox" id="type-0" name="type" value="President"><label for="type-0">President</label>
					<input type="checkbox" id="type-1" name="type" value="Vice-president"><label for="type-1">Vice-President</label>
					<input type="checkbox" id="type-2" name="type" value="Senator"><label for="type-2">Senator</label>
					<input type="checkbox" id="type-3" name="type" value="Representative"><label for="type-3">Representative</label>
				</form>
			</div>
			<div class="large-8 medium-8 small-12 large-offset-1 columns">

			</div>
		</div>
	</div>
</div>
